* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Norse-Bold;
    src: url(assets/Norse-Bold.otf);
}

.bg-image {
    width: 40vw;
    height: 100vh;
    position: relative;
    background-color: #005656;
    background-image: url(assets/samuel-ferrara-unsplash-medium.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-container {
    width: inherit;
    height: 15vh;
    position: absolute;
    top: 15vh;
    background-color: #0614149d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
    font-family: Norse-Bold;
    font-size: calc(40px + 3vw);
    word-spacing: -0.2rem;
}


.logo {
    background-image: url(assets/tree-logo-new.svg);
    width: 12vh;
    height: 12vh;
    background-repeat: no-repeat;
}

.photo-credit {
    font-size: 14px;
    position: absolute;
    top: 97vh;
    left: calc((40vw - 248px)/2);
    padding: 1px;
    color: black;
    background-color: rgba(255, 255, 255, 0.534);
}

a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}